@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

@font-face {
    font-family: quicksand;
    src: url(quicksand.ttf);
}

body, html {
    height: 100%;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

#pageGrid {
    display: grid;
    height: 100%;
    width: 100%;
    text-align: center;
    grid-template-columns: 10% 1fr 2fr 1fr 10%;
    grid-template-rows: 10% 1fr 10% 10% 10% 10%;
    background-color: black;
}

#title {
    z-index: 100;
    font-family: 'Rubik', sans-serif;
    color: #52b788;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: center;
    align-self: start;
    font-size: 60px;
}

#title2 {
    z-index: 100;
    font-family: 'Rubik', sans-serif;
    color: #52b788;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: center;
    align-self: start;
    font-size: 30px;
    opacity: 0;
}

#startButton, #reset, #changeAI {
    height: 45px;
}

#startButton, #reset, #changeAI {
    z-index: 100;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: center;
    align-self: end;
    margin-bottom: 100px;
    background-color: transparent;
    color: #cad2c5;
    font-size: 30px;
    border: 0px;
    font-family: 'Rubik', sans-serif;
}

#startButton:hover, .diffButtons:hover, #reset:hover, #changeAI:hover {
    border: 2px solid #2d6a4f;
    box-shadow: 0px 0px 20px #2d6a4f;
    border-radius: 10px;
}

#menu {
    height: 360px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: center;
    align-self: end;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
}

#player1, #player2 {
    background-color: transparent;
    justify-self: center;
    color: #cad2c5;
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #cad2c5;
    border-radius: 10px;
    width: 205px;
    height: 30px;
    margin: 5px;
}

.diffButtons {
    background-color: transparent;
    color: #cad2c5;
    font-size: 30px;
    border: 0px;
    font-family: 'Rubik', sans-serif;
    width: 205px;
    height: 45px;
}

p {
    font-size: 20px;
    color: white;
    font-family: 'Rubik', sans-serif;
    align-self: center;
    margin-bottom: 20px;
}

#nameTag {
    margin-bottom: 20px;
}

#displayBoard {
    height: 450px;
    width: 450px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: center;
    display: grid;
    visibility: hidden;
}

.gridBox {
    font-size: 80px;
    color: white;
    font-family: quicksand;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.shapeContainer {
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
}

.gridBox:nth-child(5) {
    border-left: 3px solid #1b4332;
    border-top: 3px solid #1b4332;
    border-right: 3px solid #1b4332;
    border-bottom: 3px solid #1b4332;
}

.gridBox:nth-child(2) {
    border-left: 3px solid #1b4332;
    border-right: 3px solid #1b4332;
}

.gridBox:nth-child(4) {
    border-top: 3px solid #1b4332;
    border-bottom: 3px solid #1b4332;
}

.gridBox:nth-child(6) {
    border-top: 3px solid #1b4332;
    border-bottom: 3px solid #1b4332;
}

.gridBox:nth-child(8) {
    border-left: 3px solid #1b4332;
    border-right: 3px solid #1b4332;
}

#reset {
    z-index: 99;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
    visibility: hidden;
    align-self: end;
    margin-bottom: 40%;
    height: 45px;
}

#scoreBoard {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
    align-self: center;
    visibility: hidden;
    height: 100px;
    width: 300px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #cad2c5;
}

#name1 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}

#name2 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}

.names {
    color: #cad2c5;
    place-self: center;
    font-family: 'Rubik', sans-serif;
}

.wins {
    color: #2d6a4f;
    align-self: center;
    font-size: 24px;
    font-weight: bold;
    place-self: center;
}

#wins1 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
}

#wins2 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
}

#outcomeScreen {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    color: #cad2c5;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    place-self: center center;
    visibility: hidden;
    margin-top: 20px;
}

#aboutMe {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 3;
    grid-column-end: 4;
    visibility: visible;
    color: gray;
    height: 40px;
    width: 200px;
    font-size: 16px;
    place-self: end center;
    text-align: center;
    margin-top: 70px;
    visibility: hidden;
}

a {
    color: white;
}

#chooseTurn {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: center;
    visibility: hidden;
}

.fadeIn {
    opacity: 1;
    visibility: visible;
	animation-name: fadeInOpacity;
    animation-timing-function: ease-in;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

@keyframes fadeInOpacity {
	0% {
        opacity: 0;
        visibility: hidden;
	}
	100% {
        opacity: 1;
        visibility: visible;
	}
}

.fadeOut {
    opacity: 1;
    visibility: visible;
	animation-name: fadeOutOpacity;
    animation-timing-function: ease-in;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

@keyframes fadeOutOpacity {
	0% {
        opacity: 1;
        visibility: visible;
	}
	100% {
        opacity: 0;
        visibility: hidden;
	}
}

.fadeRed {
	animation-name: fadeRed;
    animation-timing-function: ease-in;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

@keyframes fadeRed {
    0% {}
    
	100% {
        background-color: palevioletred;
	}
}